server {
        listen 127.0.0.1:80;
        {%- for ip in grains['anycast']['ipv4'] %}
	listen {{ ip['address'] }}:80;
        {%- endfor %}
	listen [::]:80 default_server;

	root /var/www/html;

	server_name _;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}
}
